@model Setting
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form asp-area="Admin" asp-controller="Setting" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="@Model.HeaderLogoFile" class="form-label">HeaderLogo</label>
                    <input class="form-control" asp-for="@Model.HeaderLogoFile">
                    <span asp-validation-for="@Model.HeaderLogoFile" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Phone1" class="form-label">Phone1</label>
                    <input class="form-control" asp-for="@Model.Phone1">
                    <span asp-validation-for="@Model.Phone1" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Phone2" class="form-label">Phone2</label>
                    <input class="form-control" asp-for="@Model.Phone2">
                    <span asp-validation-for="@Model.Phone2" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Address" class="form-label">Address</label>
                    <input class="form-control" asp-for="@Model.Address">
                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Email" class="form-label">Email</label>
                    <input class="form-control" asp-for="@Model.Email">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.About" class="form-label">About</label>
                    <input class="form-control" asp-for="@Model.About">
                    <span asp-validation-for="@Model.About" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-area="Admin" asp-controller="Setting" asp-action="Index">Back to list</a>
            </form>
        </div>
    </div>
</div>

